#Footerlinks1{
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    border-width: 0.5px;
    border-color: lightgray;
    margin: 2px;
}
#Footerlinks2{
    border-radius: 8px;
    padding: 10px;
    width: 378px;
    border-width: 0.5px;
    border-color: black;
    background-color: #323a40;
    color: whitesmoke;
    margin: 2px;
    
}
#Footerlinks3{
    border-radius: 8px;
    padding: 10px;
    width: 378px;
    border-width: 0.5px;
    border-color: black;
    background-color: #323a40;
    color: whitesmoke;
    justify-content: center;
    margin: 2px;
    
}
.none{
    
    display: none;
}
.block{
    color: red;
    display: block;
}